.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}
.main-center-container {
  border: 1px solid black;
  width: clamp(320px, 90%,500px);
  height: 95vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  /* justify-content: center; */
}

.page-header-container {
  position:absolute;
  top:0%;
  left: 50%;
  transform: translate(-50%);
  height: clamp(60px, 10%,100px);
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  border: 1px solid black;
}

.page-header-text {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: max(22px, 4vh);
  margin: auto;
}

.page-body-container {
  position: absolute;
  top:50%;
  transform: translate(0%,-50%);
  width: 100%;
}

.modal-container {
  width: clamp(50%,700px,80%);
  height: min(60%,300px);

  margin: auto;
  padding: 1rem 1rem;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: aliceblue;
}

.modal-close-btn {
  position: fixed;
  top:5%;
  right:5%;
  border: none;
  background-color: none;
  text-decoration: none;
}

.modal-header-container {
  width: 95%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;;
}

.modal-header-elem {
  font-size: 26px;
  height:90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid gray;
}
.modal-body-container {
  width: 95%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  margin: auto;
}
.modal-option-element-1 {
  width: 100%;
  height: 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid purple;
}

.modal-option-element-text {
  width: 80%;
  font-size: 22px;
  margin: auto;
}